.projects {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 40px 25px;
  padding-top: 80px;
  color: white;
  z-index: 2;
  position: relative;
}

.projects > h1 {
  font-size: 25px;
  color: rgb(0, 255, 0);
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
}

.projects p{
  margin-bottom: 5px;
}

.projects > p {
  font-size: 20px;
  font-weight: bold;
}


.projects .img,
.no_demo {
  width: 35%;
  max-height: 300px;
  border-radius: 15px;
}

.no_demo {
  background: url("./1.jpg");
  position: relative;
  height: 170px;
  width: 170px;
}

.projects .img video {
  border-radius: 15px;
  height: auto;
}

.projects .right,
.projects .left {
  display: flex;
  align-items: center;
  margin-top: 65px !important;
  justify-content: space-between;
}

.projects .right {
  flex-direction: row-reverse;
}

.projects .right .desc {
  margin-left: 0%;
  margin-right: 10%;
}

.projects .desc {
  /* width: 55%; */
  margin-left: 10%;
}

.projects .desc .heading {
  font-size: 20px;
  font-weight: bold;
  color: cyan;
  /* text-align: center; */
}

@media (max-width: 768px) {
  .projects {
    text-align: center;
    margin: 0px auto;
  }

  .projects .left,
  .projects .right {
    flex-direction: column !important;
    margin-top: 40px !important;
  }

  .projects .left .img,
  .projects .right .img,
  .projects .desc,
  .no_demo {
    width: 95%;
    max-width: 400px;
    border-radius: 10px !important;
  }

  .projects .desc {
    padding: 0px 5px;
  }

  .projects .desc .heading {
    margin-bottom: 0px;
    margin-top: 10px;
    color: #0087ca;
  }
  .projects .img video,
  .no_demo,
  .no_demo::after {
    border-radius: 10px !important;
  }
}

@media (max-width: 576px) {
  .no_demo {
    height: 200px;
  }

  .no_demo::after {
    font-size: 25px;
  }
}
