* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .navbar {
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
} */

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.dropdown-toggle::after {
  display: none;
}

.navbar {
  padding: 0px 30px;
}

.navbar-brand {
  padding: 0px;
}

.home .video {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.home .video video {
  width: 100%;
  height: auto;
  display: block;
}

.home .video::before {
  content: "";
  position: absolute;
  font-size: 30px;
  color: white;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_animation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.left-text,
.right-text {
  transition: all 2s ease-in-out;
  color: white;
  font-size: 30px;
  margin: 0px;
  margin-right: 3px;
}

.carousel {
  margin-top: 75px !important;
  height: 80vh;
  width: 70vw;
  margin: auto;
}

.carouselImage {
  height: 80vh;
  width: 70vw;
}

.carousel.pointer-event {
  display: flex;
  align-items: center;
}

.home .cards {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.principles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  background: url("./assets/5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.principles::before,
.technical::before,
.non-technical::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.principles div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: white;
  z-index: 2;
  width: 100%;
  max-width: 900px;
}
.principles h5 {
  width: 100%;
  max-width: 900px;
  text-align: justify;
}

.technical,
.non-technical {
  background: url("./assets/8.jpg");
  height: auto;
  width: auto;
  background-size: cover;
  color: white;
  position: relative;
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.technical div,
.non-technical div {
  width: 100%;
  max-width: 900px;
  margin: auto;
  text-align: justify;
  padding: 0px !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.technical div h5,
.non-technical div h5 {
  margin: 10px;
}

.technical div,
.non-technical div {
  position: relative;
  z-index: 2 !important;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 100px;
  height: auto;
  padding: 20px auto;
}

.non-technical {
  background: url("./assets/7.jpg");
  background-size: cover;
}

.non-technical div {
  padding: 100px;
  justify-content: space-evenly;
}

.non-technical h4 {
  line-height: 35px;
}

.our-equipments {
  background: url("./assets/3.jpg");
  /* background-color: rgb(0,0,0,0.2); */
  background-size: cover;
  height: auto;
  position: relative;
  background-attachment: fixed;
  overflow-x: auto;
}

.our-equipments::before {
  height: 100%;
}

.our-equipments table {
  width: 700px;
  margin: auto;
  position: relative;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  min-width: 500px;
}

.our-equipments table td,
.our-equipments table th {
  font-weight: bold;
  color: white;
}

.table-striped > tbody > tr:nth-child(2n + 1) > th,
.table-striped > tbody > tr:nth-child(2n + 1) > td {
  /* background-color: darkcyan; */
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(68, 250, 250);
}

.table-striped > tbody > tr:nth-child(2n) > th,
.table-striped > tbody > tr:nth-child(2n) > td {
  /* background-color: darkgoldenrod; */
  background-color: rgba(0, 0, 0, 0.6);
  color: darkorange;
}

.table-striped thead tr th {
  background-color: rgba(165, 42, 42, 0.807);
}

.table-striped tbody th,
.table-striped tbody td:last-child,
.table-striped thead th:first-child,
.table-striped thead th:last-child {
  text-align: center;
}

.our-equipments table tr {
  transition: all 0.2s;
}

.our-equipments table tr:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.Projects {
  background: url("./assets/9.jpg");
  background-size: cover;
  width: 100vw;
  background-attachment: fixed;
  position: relative;
}

.Projects::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.about-us {
  background: url("./assets/4.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: relative;
}

.about-us::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.aboutcard {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 30px 15px;
  box-shadow: 2px 2px 4px darkgray;
  position: relative;
  z-index: 2;
}

.aboutcard .profile {
  width: 30%;
  text-align: center;
}

.aboutcard .content {
  width: 70%;
}

.aboutcard p {
  font-size: 20px;
}

.aboutcard h4 {
  color: cyan;
}
.aboutcard h5 {
  color: orange;
}

.footer {
  padding-top: 20px !important;
  background-color: white !important;
  position: relative;
  z-index: 999;
}

.footer .second-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  padding: 20px 40px;
}

.footer .second-footer .icons {
  width: 50%;
  max-width: 250px;
  display: flex;
  justify-content: space-evenly;
}

.equipments {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: space-around;
}

.equipment {
  margin: 10px;
  position: relative;
  width: 300px;
  height: 250px;
}

.equipment img {
  width: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.equipment div {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.equipment_container {
  position: relative;
  /* width: 50%; */
  width: 300px;
  display: flex;
  align-items: flex-end;
  margin: 20px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.equipment_container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.latest_projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.latest_projects div {
  width: 25%;
  border: 1px solid gray;
  padding: 0px 20px;
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: 2px 2px 4px gray;
  min-width: 300px;
  transition: all 0.4s;
}

.latest_projects div:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 2px gray;
}

.latest_projects div img {
  width: 75%;
  margin: auto;
  max-width: 250px;
  display: block;
}

.latest_projects div h5 {
  color: blue;
}

.latest_projects div p {
  margin-bottom: 5px;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.commitment {
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.commitment > div {
  display: flex;
  flex-direction: column;
}

.commitment div div {
  display: flex;
  flex-direction: column;
}

.specialists div div div{
  padding-left: 20px;
}

.commitment img {
  height: 200px;
  margin-right: 50px;
  border: 0px;
  border-radius: 20px;
}

.specialists img {
  margin-left: 50px;
  margin-right: 0px;
  width: 300px;
  height: auto;
}

@media (max-width: 1000px) {
  .our-equipments table {
    width: 90%;
  }
  .home .video::before {
    font-size: 30px;
    padding: 0px 50px;
    text-align: center;
  }
  .carousel {
    margin-top: 50px !important;
    width: 90% !important;
    height: auto;
  }
  .carouselImage {
    width: 90% !important;
    /* height: 50%; */
    margin: auto;
  }
  .latest_projects div {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .home {
    width: 100%;
  }
  .home .video::before {
    font-size: 20px;
    padding: 0px 30px;
  }
}
